/** CSS STYLE **/
@font-face {
  font-family: 'Open Sans Regular';
  src: url('../../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Neucha';
  src: url('../../assets/fonts/Neucha-Regular.ttf');
}

body {
  color: #2a2626;
  font: 16px/1.6em 'Open Sans Regular', sans-serif;

  background-color: #fff;
}

.section-grey,
.section-brown {
  position: relative;
}

.section-grey {
  background: #f5f4f0;
}

.section-brown {
  color: #fff;

  background: #b09a81;
}

.section-grey::before,
.section-brown::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url(../../assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;

  content: '';
}

.content {
  position: relative;

  width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.h-orange {
  color: #fe8a02;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
  padding: 0 auto;

  font-weight: 400;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h5 {
  font-size: 14px;
  font-family: 'Open Sans Bold', sans-serif;
  text-transform: uppercase;
}

[main-picture] {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.articles {
  column-count: 2;
  column-gap: 30px;
}

header .articles {
  height: 170px;

  margin-top: 185px;
  margin-bottom: 30px;
}

.articles * {
  margin-top: 0;

  break-inside: avoid;
}

button {
  position: relative;
  left: 570px;

  padding: 12px 24px;

  border: none;

  font: 16px/1.6em 'Open Sans Bold', sans-serif;

  background: #fe8a02;
}

button:hover {
  background: #ea7600;
}

button a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.s-video {
  height: 599px;

  text-align: center;
}

[before-video] {
  margin-bottom: 30px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

#navigation {
  padding-top: 100px;

  background: #42413c;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav > * {
  width: 350px;
}

.h-nav {
  color: #fff;
  font-size: 52px;
}

.card {
  box-sizing: border-box;
  padding: 24px;

  color: #2a2626;
  text-decoration: none;

  background: #f5f4f0;
}

.second-row {
  margin-top: 20px;
}

.number {
  margin-bottom: 40px;

  color: #42413c;

  font-size: 64px;
  line-height: 1;
}

.card p {
  margin-top: 12px;
  margin-bottom: 0;
}

.card:hover {
  color: #fff;

  background: #fe8a02;
}

.card:hover .number,
.card:hover h3 {
  color: #fff;
}

.flex {
  display: flex;

  font-family: 'Neucha', sans-serif;

  column-gap: 30px;
}

.images {
  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.title-cd-first {
  margin: 0;

  color: #908d8b;
  font-size: 24px;
  line-height: 1.2;
}

.title-cd-last {
  margin-top: 30px;

  font-size: 34px;
  line-height: 1.2;
}

.how-works {
  margin-top: 100px;
  margin-bottom: 20px;
  padding-left: 10px;

  color: #fff;

  background: #b09a81;
}

.section-brown .flex {
  flex-direction: row-reverse;
}

.section-brown .title-cd-first {
  color: #d7ccc0;
}

.section-brown .how-works {
  color: #b09a81;

  background: #fff;
}
